.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; }

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 10px;
    border: 2px solid #677084; 
    background-color: #92a8c6;
}

section {
    padding: 4px;
    background-color: #ccd9eb;
}